[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Microservices-Nest-SP/Gateway-Ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Microservices-Nest-SP/Product-Ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Microservices-Nest-SP/Orders-Ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Microservices-Nest-SP/Payment-ms.git
